extends layout.jade

block banner
  .banner: .container: .row: .twelve.columns
    p 由 #[a(href='https://www.runscope.com/t/httpstatuses') Runscope &mdash; API 监控 & 测试] 赞助。

block share
    a.twitter(href='https://twitter.com/intent/tweet?hashtags=httpstatuses&text=Helpful%20HTTP%20Status%20Code%20reference%20site&url=https%3A%2F%2Fhttpstatuses.com&via=citricsquid') &commat; 分享到 Twitter
    a.github(href='https://github.com/citricsquid/httpstatuses') &bigstar; 在 GitHub 上收藏该项目
    a.pinboard(target='_blank', href='https://pinboard.in/add?showtags=yes&url=https%3A%2F%2Fhttpstatuses.com&description=HTTP%20Status%20Code%20Reference%20Site&title=httpstatuses.com&tags=reference,development') &oplus; 添加至 Pinboard
    a.original(href='https://httpstatuses.com/') &bigstar; 英文链接

block contents
  block banner
  .hero.introduction: .container: .row: .twelve.columns
    != contents
  .share: .container: .row: .twelve.columns
    block share

  .container.codes: .row: .twelve.columns
    each group in groups.codes
      ul
        li #[h2 !{group.title}]
        each code in group.items
          li #[a(href='#{siteurl}/#{code.code}') #[span !{code.code}] #{code.title}]
